@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

/* Navbar */

header{
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
    background:rgba(15,23,42,0.95);
}

nav{
     position:fixed;
    width:100%;
    top:0;
    left:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    backdrop-filter:blur(15px);
    background:rgba(255,255,255,0.08);
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#38bdf8
    
}

.logo span{
    color:#38bdf8;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav ul li a:hover{
    color:#38bdf8;
}

/* Hero */

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h3{
    font-size:25px;
}

.hero h1{
    font-size:60px;
    color:#38bdf8;
}

.hero h2{
    margin:15px 0;
    font-size:30px;
}

.hero p{
    max-width:700px;
    margin:auto;
    color:#cbd5e1;
}

.buttons{
    margin-top:30px;
}

.btn{
    background:#38bdf8;
    color:#000;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
    font-weight:600;
    margin-right:10px;
}

.btn-outline{
    border:2px solid #38bdf8;
    color:#38bdf8;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
}

/* Sections */

.section{
    padding:100px 10%;
}

.title{
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
    color:#38bdf8;
}

/* About */

.about-content{
    max-width:800px;
    margin:auto;
    text-align:center;
    line-height:1.8;
}

/* Skills */

.skills-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
}

.skill-card{
    background:#1e293b;
    padding:25px;
    text-align:center;
    border-radius:12px;
    transition:0.3s;
}

.skill-card:hover{
    transform:translateY(-8px);
    background:#38bdf8;
    color:black;
}

/* Projects */

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
}

.project-card{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-10px);
}

.project-card h3{
    color:#38bdf8;
    margin-bottom:10px;
}

/* Contact */

.contact-box{
    text-align:center;
    line-height:2;
    font-size:18px;
}

/* Footer */

footer{
    text-align:center;
    padding:20px;
    background:#020617;
}
/* Certifications */

.certification-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
    margin-top:40px;
}

.certificate-card{
    background:#fff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
    border-left:5px solid #2563eb;
}

.certificate-card:hover{
    transform:translateY(-8px);
}

.certificate-card h3{
    color:#2563eb;
    margin-bottom:10px;
}

.certificate-card p{
    color:#555;
    line-height:1.6;
}

.certificate-card span{
    display:inline-block;
    margin-top:12px;
    font-weight:600;
    color:#0f172a;
}

/* Responsive */

@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    nav ul{
        margin-top:15px;
    }

    .hero h1{
        font-size:42px;
    }

    .hero h2{
        font-size:24px;
    }
    

}